body{
	background-color: #304044;
	font-family: Arial;
}

#main-container{
	margin: 150px auto;
	width: 600px;
}

table{
	background-color: rgb(201, 25, 25);
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th, td{
	padding: 20px;
}

thead{
	background-color: #246355;
	border-bottom: solid 5px #0F362D;
	color: rgb(255, 255, 255);
}

tr:nth-child(even){
	background-color: #4d4c57;
}

tr:hover td{
	background-color: #eff157;
	color: rgb(5, 5, 5);
}
#container{
    background-color: #e6f511;
    height:40vh;
    width: 30%; /* Ajusta el ancho según lo que necesites */
    margin: 5%; /* Margen alrededor del contenedor */
    margin: 3%;
    display: flex;
    
    align-items: center;
    flex-direction: column;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
#contenedor {
    background-color: #15c424;
    height: 15vh;
    width: 30%; /* Ajusta el ancho según lo que necesites */
    margin: 5%; /* Margen alrededor del contenedor */
    margin-left: auto; /* Empuja el contenedor hacia la derecha */
    display: flex;
    justify-content: center; /* Centra el contenido dentro del contenedor */
    align-items: center;
    flex-direction: column;
}  
h1 {
    font-size: 36px; /* ajusta el tamaño de la fuente */
    text-align: center; /* alinea el texto al centro */
    color: #47e620; /* ajusta el color de la fuente */
    border-bottom: 1px solid #0a29da; /* agrega una línea inferior */
    background-color: #eff157;
  }

